/*NAVIGATION*/

.navbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  /*background-color: #f695c5;*/
  background-color: black;
  padding: 20px 25px 15px 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.h1Title {
  padding: 3px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 2px 5px grey;
}

.h1Title:hover {
  transform: scale(1.1);
}

.navbarAddlink {
  text-decoration: none;
  cursor: pointer;
}

.addNoteIcon {
  color: white;
}
.addNoteIcon:hover {
  transform: scale(1.2, 1.2);
}

/* NOTE/NOTESLIST */

.noteListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 18px;
  padding: 10px;
  /*position: relative;*/
  background-color: black;
  padding-top: 75px;
}

.noteListContainerOpacity {
  opacity: 0.25;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 18px;
  padding: 10px;
  /*position: relative;*/
  background-color: black;
  padding-top: 75px;
}

.note {
  /*background-color: #f695c5;*/

  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 250px;
  height: 250px;
  position: relative;
  word-wrap: break-word;
  font-size: 1rem;
  /*box-shadow: 5px 5px 2px #1b1212;*/
}
/* Buttons on the note */
.noteButtons {
  position: absolute;
  top: 3px;
  right: 3px;

  display: flex;
  justify-content: flex-end;
  gap: 3px;
}

/* body of the note */

.noteTitle {
  padding-top: 12px;
  padding-bottom: 6px;
  font-family: sans-serif;
}

.isDone {
  text-decoration: line-through;
}

/* buttons */

.editButton {
  color: black;
}

.editButton:hover {
  transform: scale(1.3, 1.3);
  color: white;
}

.editButtonNoShow {
  display: none;
}

.deleteButtonNote {
  color: black;
}
.deleteButtonNote:hover {
  color: red;
  transform: scale(1.3, 1.3);
}

.isDoneButton:hover {
  color: white;
  transform: scale(1.3, 1.3);
}

/*NOTE FORM*/

.noteForm {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 35%;
  background-color: #15172b;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  /*align-items: center;*/
  flex-direction: column;
  width: 400px;
  box-shadow: 10px 10px 5px black;
}

.deleteButton {
  align-self: flex-end;
  size: 18px;
  color: white;
}
.deleteButton:hover {
  transform: scale(1.3, 1.3);
  color: red;
}

.formHeader {
  font-family: sans-serif;
  color: #eee;
  align-self: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.inputLabel {
  color: #eee;
  padding-bottom: 5px;
  padding-top: 10px;
  align-self: center;

  font-size: 0.7rem;
}

.inputTitle {
  border-radius: 10px;
  font-size: 1rem;
  padding: 5px;
  width: 250px;
  align-self: center;
  font-family: sans-serif;
}
.inputDecription {
  width: 250px;
  height: 200px;
  font-family: sans-serif;
  padding: 20px 10px 10px;
  font-size: 1rem;
  align-self: center;
  border-radius: 10px;
}
/*.inputDecription:focus {
  border: 2px solid red;
}*/

.selectColorButton {
  color: white;
  align-self: center;
  font-size: 0.7rem;
  padding-top: 8px;
}

.submitButton {
  cursor: pointer;
  text-align: center;
  /*font-family: sans-serif;*/
  width: 50%;
  margin-top: 18px;
  border-radius: 16px;
  padding: 5px;
  align-self: center;
}

.submitButton:hover {
  transform: scale(1.1);
}

.submitButton:active {
  background-color: #f695c5;
}
/*FOOTER*/
