/*NAVIGATION*/

.navbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  /*background-color: #f695c5;*/
  background-color: black;
  padding: 20px 25px 15px 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.h1Title {
  padding: 3px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 2px 5px grey;
}

.h1Title:hover {
  transform: scale(1.1);
}

.navbarAddlink {
  text-decoration: none;
  cursor: pointer;
}

.addNoteIcon {
  color: white;
}
.addNoteIcon:hover {
  transform: scale(1.1);
}

/* NOTE/NOTESLIST */

.noteListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 18px;
  padding: 10px;
  /*position: relative;*/
  background-color: black;
  padding-top: 75px;
}

.note {
  /*background-color: #f695c5;*/

  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 250px;
  height: 250px;
  position: relative;
  word-wrap: break-word;
  font-size: 1rem;
}
/* Buttons on the note */
.noteButtons {
  position: absolute;
  top: 3px;
  right: 3px;

  display: flex;
  justify-content: flex-end;
  gap: 3px;
}

.noteTitle {
  padding-top: 8px;
}

.editButton {
  color: black;
}
.editButton:hover {
  transform: scale(1.1);
}

.deleteButton:hover {
  transform: scale(1.1);
}

.isFavouriteButton {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  size: "20px";
}

/*NOTE FORM*/

.noteForm {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 35%;
  background-color: #15172b;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  /*align-items: center;*/
  flex-direction: column;
  width: 400px;
}

.deleteButton {
  align-self: flex-end;
  size: 18px;
  color: white;
}

.formHeader {
  font-family: sans-serif;
  color: #eee;
  align-self: center;
  font-size: 1.3rem;
}

.inputLabel {
  color: #eee;
  padding-bottom: 5px;
  padding-top: 10px;
  font-family: sans-serif;
  align-self: center;
}
.inputDecription {
  width: 250px;
  height: 250px;
  font-family: sans-serif;
  padding: 10px;
  font-size: 1rem;
  align-self: center;
}

.selectColorButton {
  color: white;
  align-self: center;
}

.addButton {
  cursor: pointer;
  text-align: center;
  width: 50%;
  margin-top: 38px;
  border-radius: 12px;
  padding: 5px;
  align-self: center;
}
.addButton:active {
  background-color: #f695c5;
}
/*FOOTER*/
